<h3>投稿編集</h3>

<%= form_with model: @post do |f| %>
  <div>
    <%= f.label "商品画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div>
    <%= f.label "商品名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "一言" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "商品説明（レビュー）" %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label "ジャンル" %>
    <%= f.text_field :genre_id %>
  </div>
  <div>
    <%= f.label "購入価格（税込）" %>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label "star" %>
    ★★★★★
  </div>
  <%= f.submit "変更を保存" %>
<% end %>