<div class="container">
  <div class="row py-4">
    <div class="col-3 offset-1 bg-light text-center">
      <h3>投稿編集</h3>
    </div>
  </div>
  <%= render '/layouts/error_messages', post: @post %>
  <div class="row">
    <div class="col">
      <%= form_with model: @post do |f| %>
        <table class="mx-auto col-9">
          <tr>
            <td><%= f.label :image, "商品画像" %>
            <td><%= f.file_field :image, accept: "image/*", class: "ml-4 mb-3 w-100" %>
          </tr>
          <tr>
            <td><%= f.label :name, "商品名" %></td>
            <td><%= f.text_field :name, placeholder: "#{@post.name}", class: "ml-4 mb-3 w-100" %></td>
          </tr>
          <tr>
            <td><%= f.label :title, "一言" %></td>
            <td><%= f.text_field :title, placeholder: "#{@post.title}", class: "ml-4 mb-3 w-100" %></td>
          </tr>
          <tr>
            <td><%= f.label :body, "商品レビュー", style: "height: 140px" %></td>
            <td><%= f.text_area :body, placeholder: "#{@post.body}", class: "ml-4 mb-3 w-100", style: "height: 140px" %></td>
          </tr>
          <tr>
            <td><%= f.label :genre, "ジャンル" %></td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, placeholder: "#{@post.genre.name}", class: "ml-4 mb-3 w-50" %></td>
          </tr>
          <tr>
            <td><%= f.label :price, "購入価格（税込）" %></td>
            <td class="d-flex align-items-center">
              <%= f.text_field :price, placeholder: "#{@post.price}", class: "ml-4 mb-3 w-100" %>
              <span class="ml-2">円</span>
            </td>
          </tr>
          <tr>
            <td><%= f.label "star" %></td>
            <td>★★★★★</td>
          </tr>
        </table>
        <div class="mx-auto col-3 d-flex flex-row">
          <%= f.submit "変更を保存", class:"btn btn-success col py-2 my-2 mr-3" %>
          <% if @post.user == current_user %>
            <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn btn-danger col py-2 my-2" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>