<div class="container">
  <div class="row py-4">
    <div class="col-md-12">
      <h2 class="text-center mb-4 mt-3">投稿編集</h2>
    </div>
  </div>
  <%= render '/layouts/error_messages', post: @post %>
  <div class="row">
    <div class="col">
      <%= form_with model: @post do |f| %>
        <div class="row mx-auto col-9 mb-3">
          <div class="col-md-4">
            <%= f.label :image, "商品画像" %>
          </div>
          <div class="col-md-8">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>
        <div class="row mx-auto col-9 mb-3">
          <div class="col-md-4">
            <%= f.label :name, "商品名" %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :name, placeholder: "#{@post.name}", class: "form-control" %>
          </div>
        </div>
        <div class="row mx-auto col-9 mb-3">
          <div class="col-md-4">
            <%= f.label :title, "一言" %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :title, placeholder: "#{@post.title}", class: "form-control" %>
          </div>
        </div>
        <div class="row mx-auto col-9 mb-3">
          <div class="col-md-4">
            <%= f.label :body, "商品レビュー" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :body, placeholder: "#{@post.body}", class: "form-control", style: "height: 140px" %>
          </div>
        </div>
        <div class="row mx-auto col-9 mb-3">
          <div class="col-md-4">
            <%= f.label :genre, "ジャンル" %>
          </div>
          <div class="col-md-8">
            <%= f.collection_select :genre_id, Genre.only_active, :id, :name, {placeholder: "#{@post.genre.name}"}, class: "form-control" %>
          </div>
        </div>
        <div class="row mx-auto col-9 mb-3">
          <div class="col-md-4">
            <%= f.label :price, "購入価格（税込）" %>
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <%= f.text_field :price, placeholder: "#{@post.price}", class: "form-control" %>
            <span class="ml-2">円</span>
          </div>
        </div>
        <div class="row mx-auto col-9 mb-3">
          <div class="col-md-4">
            <%= f.label :star, "評価" %>
          </div>
          <div class="col-md-8">
            <div>
              <%= render "static_rate", post: @post, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row mx-auto col-3 d-flex flex-row">
          <%= f.submit "変更を保存", class:"btn btn-sm btn-success col py-2 my-2 mr-3" %>
          <% if @post.user == current_user %>
            <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn btn-sm btn-danger col-5 py-2 my-2" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
