<h1>新規投稿作成</h1>
<%= render '/layouts/error_messages', post: @post %>

<%= form_with model: @post, method: :post do |f| %>
  <div>
    <%= f.label "商品画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div>
    <%= f.label "商品名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "一言" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "商品説明（レビュー）" %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label "ジャンル" %>
    <%= f.text_field :genre_id %>
  </div>
  <div>
    <%= f.label "購入価格（税込）" %>
    <%= f.text_field :price %>
  </div>
  <%= f.submit '新規投稿' %>
<% end %>
