<h1>新規投稿作成</h1>

<%= form_with model:@post do |f| %>
  <div>
    <%= f.label 商品画像 %>
  </div>

  <div>
    <%= f.label 商品名 %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label 商品説明（レビュー） %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit '新規投稿' %>
<% end %>
