<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="container mt-5">
        <div class="row">
          <table class="table table-bordered mt-5">
            <thead>
              <th style="background-color: #e9ecef; border-color: #dee2e6;">商品カテゴリ</th>
            </thead>
            <tbody>
              <% @genre.each do |genre| %>
              <tr>
                <td>
                  <%= link_to genre.name, posts_path(genre_id: genre.id) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3 class="mb-4 mt-3">投稿詳細</h3>
        <div class="card">
          <div class="row no-gutters">
            <div class="col-4">
              <%= image_tag @post.get_image(500, 300), class: "img-fluid" %>
              <p class="small-text">投稿者：<%= link_to "#{@post.user.full_name}", user_path(@post.user.id) %>　<%= @post.created_at.strftime('%Y/%m/%d') %></p>
              <p>ジャンル：<%= @post.genre.name %></p>
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title"><span class="yellow-bg">商品名：<%= @post.name %></span>　★★★★</h5>
                <p>一言：<%= @post.title %></p>
                <p class="min-three-lines-height">商品レビュー：<%= @post.body %></p>
                <p>♥：1　コメント件数：<%= @post.post_comments.count %></p>
                <div class="d-flex justify-content-end">
                  <%= link_to "みんなの投稿へ戻る", posts_path, class:"btn btn-primary mr-3 px-4" %>
                  <% if @post.user == current_user %>
                    <%= link_to "編集する", edit_post_path, class:"btn btn-success mr-3 px-4" %>
                    <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn btn-danger px-4" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 class="mt-4 mb-3">コメントする</h4>
            <%= form_with model: [@post, @post_comment] do |f| %>
              <p><%=f.text_area :body, rows: '4', placeholder: "ここにコメントしてください", style: "width: 100%;" %></p>
              <p class="d-flex justify-content-end"><%= f.submit "送信", class:"btn btn-success px-4" %></p>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 class="mb-3">コメント一覧</h4>
              <% @post.post_comments.each do |post_comment| %>
              <div class="d-flex flex-row">
                <div class="mr-3 my-2">
                  <h5><%= post_comment.user.full_name %></h5>
                  <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
                </div>
                <div class="comment-body my-2">
                  <p><%= post_comment.body %></p>
                  <div class="text-right">
                    <% if post_comment.user == current_user %>
                      <%= link_to "削除する", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:"btn btn-danger px-4" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>

          </div>
        </div>
    </div>
  </div>
</div>
