<div class="container">
  <div class="row">
    <div class="container mt-5">
      <div class="row">
        <div class="col-3 md-3">
          <h3 class="mt-5">ジャンル一覧</h3>
          <p>本</p>
          <p>おもちゃ</p>
          <p>おむつ</p>
          <p>歯固め</p>
          <p>服</p>
          <p>布製品</p>
          <p>テスト</p>
          <p>テスト</p>
          <p>テスト</p>
        </div>
        <div class="col-9 md-9">
          <h1 class="mb-5">投稿詳細</h1>
            <div class="row">
              <%= image_tag @post.get_image(500, 300) %>
              <p>投稿者：<%= link_to @post.user.full_name, user_path(@post.user.id) %></p>
              <p>商品名：<%= @post.name %></p>
              <p>一言：<%= @post.title %></p>
              <p>商品説明：<%= @post.body %></p>
              <p>♥：1　コメント：3</p>
              <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
              <%= link_to "一覧へ戻る", posts_path %>
              <% if @post.user == current_user %>
                <%= link_to "編集する", edit_post_path, class:"btn btn-success px-4" %>
                <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn btn-danger px-4" %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
