<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-center mb-4 mt-3">投稿詳細</h2>
        <div class="card">
          <div class="row no-gutters">
            <div class="col-4">
              <%= image_tag @post.get_image(500, 300), class: "img-fluid" %>
              <p class="small-text">投稿者：<%= link_to "#{@post.user.full_name}", user_path(@post.user.id) %>　<%= @post.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">
                  <div class="d-flex align-items-center">
                    <span class="yellow-bg mr-5">商品名：<%= @post.name %></span>
                    <%= render "static_rate", post: @post %>
                  </div>
                </h5>
                <p>一言：<%= @post.title %></p>
                <p class="min-three-lines-height">商品レビュー：<%= @post.body %></p>
                <div class="d-flex align-items-center">
                  <p id="favorite_buttons_<%= @post.id %>">
                    <%= render '/public/favorites/favorites-btn', post: @post %>
                  </p>
                  <p class="ml-3">コメント件数：<%= @post.post_comments.count %></p>
                </div>
                <div class="row my-3">
                  <div>タグ：</div>
                  <div class="col-md-9">
                    <%= @post.tags.pluck(:name).join(' / ') %>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <%= link_to "みんなの投稿へ戻る", posts_path, class:"btn btn-primary mr-3 px-4" %>
                  <% if @post.user == current_user %>
                    <%= link_to "編集する", edit_post_path, class:"btn btn-success mr-3 px-4" %>
                    <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn btn-danger px-4" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if user_signed_in? %>
        <%= render '/layouts/error_messages', post: @post_comment %>
          <div class="row">
            <div class="col">
              <h4 class="text-center mt-4 mb-3">コメントする</h4>
              <div id="comment-form">
                <%= render "public/post_comments/comment-form", post: @post, post_comment: @post_comment %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4 class="text-center mb-3">コメント一覧</h4>
              <div id="commentslist">
                <%= render "public/post_comments/commentslist", post: @post %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
