<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <table class="table table-hover table-inverse">
      <!--検索対象モデルがPostの時 -->
        <% if @range == "Post" %>
        <h2>"<%= @keyword %>"の検索結果</h2>
        <thead>
          <tr>
            <th>商品画像</th>
            <th>商品名</th>
            <th>投稿者</th>
            <th>いいね</th>
            <th>評価</th>
          </tr>
        </thead>
        <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.get_image(100, 100) %>
              <% end %>
            </td>
            <td><%= post.name %></td>
            <td><%= post.user.full_name %></td>
            <td>
              <% if post.favorited_by?(current_user) %>
                <p>
                  <%= link_to post_favorite_path(post), method: :delete do %>
                    ♥：<%= post.favorites.count %>
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to post_favorite_path(post), method: :post do %>
                    ♥：<%= post.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </td>
            <td><%= render "public/posts/static_rate", post: post %></td>
          </tr>
        <% end %>
        </tbody>
        <!--検索対象モデルがUserの時 -->
        <% elsif @range == "User"  %>
        <h2>"<%= @keyword %>"の検索結果</h2>
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>投稿数</th>
            <th>投稿にコメントした数</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to "#{user.last_name + user.first_name}", user_path(user.id) %></td>
              <td><%= user.posts.count %></td>
              <td><%= user.post_comments.count %></td>
            </tr>
          <% end %>
        </tbody>

        <% else %>
        <!--検索対象モデルがPostでもUserでもない時(= 検索対象モデルがTagの時) -->
       <h2 class="title m-3"><i class="fas fa-search"></i> "<%= @tag_word %>"の検索結果</h2>
       <thead>
          <tr>
            <th>商品画像</th>
            <th>商品名</th>
            <th>いいね</th>
            <th>スター</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
       <% end %>
      </table>
    </div>
  </div>
</div>