<div class="container">
  <div class="row py-4 pr-3">
    <div class="col-4 offset-1 bg-light text-center">
      <h3>ジャンル一覧・追加</h3>
    </div>
  </div>
  <div class="row">
    <div class="col py-4 ml-5">
      <% if @genre.errors.any? %>
        <%= @genre.errors.count %>件のエラーが発生しました
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
        <%= f.label :name, "ジャンル名", class: "ml-2" %>
        <%= f.text_field :name, placeholder: "ジャンル名", class: "mx-4 w-25" %>
      	<%= f.radio_button :is_active, true %>
      	<%= f.label :is_active, "有効", class: "mr-2" %>
      	<%= f.radio_button :is_active, false %>
      	<%= f.label :is_active, "無効", class: "mr-3" %>
        <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-5 ml-5">
      <h4>ジャンル</h4>
      <table class="table">
          <th>ジャンル名</th>
          <th>状態</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td>
              <% if genre.is_active? %>
                <span class="text-success">有効</span>
              <% else %>
                <span class="text-danger">無効</span>
              <% end %>
            </td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-sm btn-success" %></td>
            <th><%= link_to "削除する", admin_genre_path(genre), method: :delete, class: "btn btn-sm btn-danger" %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>