<div class="container">
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h2>レビュー一覧</h2>
    </div>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-12 col-md-6 mb-3">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-4">
            <%= image_tag post.get_image(250, 250), class: "img-fluid" %>

              <p class="small-text"><%= @users.find(post.user_id).full_name %>さん</p>
            <p>ジャンル：<%= post.genre.name %></p>
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><span class="yellow-bg">商品名: <%= post.name %></span></h5>
              <div>
                <%= render "public/posts/static_rate", post: post %>
              </div>
              <p>一言：<%= post.title %></p>
              <p>商品レビュー：<%= post.body %></p>
              <div class="d-flex align-items-center mt-1">
                <p>
                  ♥：<%= post.favorites.count %>
                </p>
                <p class="ml-3"><%= "コメント数: #{post.post_comments.count}" %></p>
              </div>
              <div>
                <div class="col-9">
                  <%= post.tags.pluck(:name).join(' / ') %>
                </div>
              </div>

              <div class="text-right">
                <%= link_to '削除', admin_post_path(post.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-sm btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
