<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="col-3 my-5 ml-4 bg-light">新規会員登録</h3>
        <div class="col-sm-12 col-md-10 col-lg-8 px-sm-0 ml-2">
          <%= render "public/shared/error_messages", resource: resource %>
          <%= form_with model: @user, url: user_registration_path do |f| %>

            <table class="table table-borderless">
              <tr>
                <td><%= f.label :名前 %></td>
                <td><%= f.text_field :last_name, class:"form-control", placeholder: "ぱぱ" %></td>
                <td><%= f.text_field :first_name, class: "form-control", placeholder: "ですよ" %></td>
              </tr>

              <tr>
                <td><%= f.label :フリガナ %></td>
                <td><%= f.text_field :last_name_kana, class: "form-control", placeholder: "パパ" %></td>
                <td><%= f.text_field :first_name_kana, class: "form-control", placeholder: "デスヨ" %></td>
              </tr>

              <tr>
                <td><%= f.label :メールアドレス %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "sample@example.com" %></td>
              </tr>

              <tr>
                <td>パスワード(<%= @minimum_password_length %>文字以上)</td>
                <td><%= f.password_field :password, autocomplete: "new-password", class:"form-control" %></td>
              </tr>

              <tr>
                <td>パスワード(確認用)</td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %></td>
              </tr>

              <tr>
                <td></td>
                <td><%= f.submit "新規会員登録" , class: "btn btn-success px-5"%></td>
              </tr>
            </table>
          <% end %>

          <div class="col mt-5">
            <h3 class="col-5 my-3 bg-light">既に登録済みの方</h3>
          <div class="mx-5">
          <%= render "public/shared/links" %>
        </div>
    </div>
  </div>
</div>

