<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :last_name, placeholder: "ぱぱ", autofocus: true %>
    <%= f.text_field :first_name, placeholder: "ですよ" %>
  </div>

  <div class="field">
    <%= f.label :フリガナ %>
    <%= f.text_field :last_name_kana, placeholder: "パパ" %>
    <%= f.text_field :first_name_kana, placeholder: "デスヨ" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h4>すでに登録済みの方</h4>
<%= render "public/shared/links" %>
