<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="col-3 my-5 bg-light">新規会員登録</h3>
        <div class="col-sm-12 col-md-10 col-lg-8 px-sm-0 mx-auto">
          <%= render "public/shared/error_messages", resource: resource %>
          <%= form_with model: @user, url: user_registration_path do |f| %>
            <div class="field">
              <%= f.label :名前 %>
              <%= f.text_field :last_name, placeholder: "ぱぱ", autofocus: true %>
              <%= f.text_field :first_name, placeholder: "ですよ" %>
            </div>

            <div class="field">
              <%= f.label :フリガナ %>
              <%= f.text_field :last_name_kana, placeholder: "パパ" %>
              <%= f.text_field :first_name_kana, placeholder: "デスヨ" %>
            </div>

            <div class="field">
              <%= f.label :メールアドレス %>
              <%= f.email_field :email, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :パスワード %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :パスワード（確認用） %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "新規登録" %>
            </div>
          <% end %>
        </div>

        <div class="col m-5">
          <h3 class="col-3 my-3 bg-light">既に登録済みの方</h3>
        <div class="mx-5">
          <%= render "public/shared/links" %>
        </div>
      </div>

    </div>
  </div>
</div>

