<div class="container">
  <div class="row py-4 pr-3">
    <div class="col-12 text-center mb-3">
      <h2><%= @user.full_name %>さんの会員情報編集</h2>
    </div>
    </div>
    <%= render '/layouts/error_messages', post: @user %>
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">


      <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
        <div class="row">
          <div class="col-4 font-weight-bold">会員ID</div>
          <div class="col-8"><%= @user.id %></div>
        </div>
        <div class="row mt-3">
          <div class="col-4 font-weight-bold">氏名</div>
          <div class="col-4">
            <%= f.label :last_name, "(姓)", class: "sr-only" %>
            <%= f.text_field :last_name, placeholder: "#{@user.last_name}", class: "form-control" %>
          </div>
          <div class="col-4">
            <%= f.label :first_name, "(名)", class: "sr-only" %>
            <%= f.text_field :first_name, placeholder: "#{@user.first_name}", class: "form-control" %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4 font-weight-bold">フリガナ</div>
          <div class="col-4">
            <%= f.label :last_name_kana, "(セイ)", class: "sr-only" %>
            <%= f.text_field :last_name_kana, placeholder: "#{@user.last_name_kana}", class: "form-control" %>
          </div>
          <div class="col-4">
            <%= f.label :first_name_kana, "(メイ)", class: "sr-only" %>
            <%= f.text_field :first_name_kana, placeholder: "#{@user.first_name_kana}", class: "form-control" %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4 font-weight-bold">メールアドレス</div>
          <div class="col-8">
            <%= f.text_field :email, placeholder: "#{@user.email}", class: "form-control" %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4 font-weight-bold">会員ステータス</div>
          <div class="col-4">
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "有効", class: "text-success ml-2" %>
          </div>
          <div class="col-4">
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, "退会済み", class: "text-danger ml-2" %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 text-center">
            <%= f.submit "変更を保存", class: "btn btn-sm btn-primary px-3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
