<div class="container">
  <div class="row py-4 pr-3">
    <div class="col-12 text-center mb-3">
      <h2><%= @user.full_name %>さんの会員情報編集</h2>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-8">
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="row">
        <div class="col mx-auto">
          <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
          <table class="table table-borderless">
            <thead>
              <th></th>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>会員ID</td>
                <td><%= @user.id %></td>
                <td></td>
              </tr>
              <tr>
                <td>氏名</td>
                <td><%= f.label :last_name, "	(姓)" %><%= f.text_field :last_name, placeholder: "#{@user.last_name}", class: "form-control" %></td>
                <td><%= f.label :first_name, "(名)" %><%= f.text_field :first_name, placeholder: "#{@user.first_name}", class: "form-control" %></td>
              </tr>
              <tr>
                <td>フリガナ</td>
                <td><%= f.label :last_name_kana, "(セイ)" %><%= f.text_field :last_name_kana, placeholder: "#{@user.last_name_kana}", class: "form-control" %></td>
                <td><%= f.label :first_name_kana, "(メイ)" %><%= f.text_field :first_name_kana, placeholder: "#{@user.first_name_kana}", class: "form-control" %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= f.text_field :email, placeholder: "#{@user.email}", class: "form-control" %></td>
                <td></td>
              </tr>
              <tr>
                <td>会員ステータス</td>
                <td><%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", class: "text-success" %></td>
                <td><%= f.radio_button :is_active, false %><%= f.label :is_active, "退会済み", class: "text-danger" %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "変更を保存", class: "btn btn-sm btn-primary px-3 ml-5" %></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



