<div class="container">
  <div class="row">
    <div class="col-5 mt-5 mb-3 bg-light">
      <h3><%= @user.full_name %> さんの会員詳細</h3>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-8">
      <table class="table table-borderless table-hover">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @user.full_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @user.full_name_kana %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @user.is_active? %>
                <span class="text-success">有効</span>
              <% else %>
                <span class="text-danger">退会済み</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "一覧へ戻る", admin_users_path, class: "btn btn-sm btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>