<h3>マイページ</h3>
<h4>登録情報<%= link_to 'プロフィールを編集する', edit_information_path %></h4>

<table>
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @user.full_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @user.full_name_kana %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<h3>投稿一覧<h3>
<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(250, 150) %><br/>
    <%= post.title %>
  <% end %>
<% end %>