<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-8 text-center">
      <h2><%= @user.full_name %>さんの詳細ページ</h2>
    </div>
  </div>
  <div class="col-md-10">
    <h4 class="text-center mb-4 mt-3">投稿一覧</h4>
    <% @posts.each do |post| %>
      <div class="card mb-4"> <!-- Add mb-4 for margin-bottom -->
        <div class="row no-gutters">
          <div class="col-12 col-md-4"> <!-- Change col-4 to col-12 col-md-4 for responsiveness -->
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.get_image(250, 180), class: 'img-fluid' %> <!-- Add img-fluid class for responsive image -->
            <% end %>
            <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
          <div class="col-12 col-md-8"> <!-- Change col-8 to col-12 col-md-8 for responsiveness -->
            <div class="card-body">
              <h5 class="card-title"><span class="yellow-bg">商品名:<%= post.name %></span><%= render "public/posts/static_rate", post: post %></h5>
              <p>ジャンル：<%= post.genre.name %></p>
              <p>一言：<%= post.title %></p>

              <div class="d-flex align-items-center mt-1">
                <p>
                  <% if post.favorited_by?(current_user) %>
                    <p>
                      <%= link_to post_favorite_path(post), method: :delete do %>
                        ♥：<%= post.favorites.count %>
                      <% end %>
                    </p>
                    <% else %>
                    <p>
                      <%= link_to post_favorite_path(post), method: :post do %>
                        ♥：<%= post.favorites.count %>
                      <% end %>
                    </p>
                  <% end %>
                </p>
                <p class="ml-3"><%= link_to "コメント数:#{post.post_comments.count}", post_path(post.id) %></p>
              </div>
              <div class="row my-3">
                <div>タグ：</div>
                <div class="col-md-9">
                  <%= post.tags.pluck(:name).join(' / ') %>
                </div>
              </div>
              <div class="text-right">
                <%= link_to '詳しく見る', post_path(post.id), class: "btn btn-sm btn-primary px-4 mr-3" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div>
      <%= paginate @posts %>
    </div>
  </div>
</div>
