<!DOCTYPE html>
<html>
  <head>
    <title>PapaPreview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8ce2afc576.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg" style="background-color: #F4EFEC;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div>
            <%= link_to admin_signed_in? ? admin_top_path : root_path do %>
              <%= image_tag "logo.png", size: "100x100", class: "navbar-brand p-3" %>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <!-- 会員がログインした時の表示 -->
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "マイページ", mypage_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規投稿", new_post_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "みんなの投稿", posts_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "いいねした投稿", "#", class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ユーザー一覧", users_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>

              <!-- 管理者がログインした時の表示 -->
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_users_path, class: 'nav-link text-dark border rounded mr-2' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark border rounded mx-2' %>
                </li>
                <li class="nav-item">
                  <%= link_to "レビュー一覧", admin_posts_path, class: 'nav-link text-dark border rounded mx-2' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark border rounded ml-2' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "みんなの投稿", posts_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員登録", new_user_registration_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
                </li>
                <li>
                  <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "nav-link text-dark" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container d-flex wrap">
        <div class="col-4 ml-4">
          <!-- 会員がログインしている時、ログイン中の会員の氏名を表示 -->
          <% if user_signed_in? %>
            <p class="ml-4">ようこそ、<%= current_user.last_name %>さん！</p>
          <% end %>
        </div>
        <div class="col-7 offset-1 mb-2 d-flex justify-content-end">
          <%= render partial: 'layouts/form' %>
        </div>
      </div>
    </header>
    <main class="bg" style="background-color: #F4EFEC;">
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <footer class="d-flex justify-content-center align-items-center p-5 bg text-light" style="background-color: #736A63;">Copyright © 2024. Papa_Preview.</footer>
  </body>
</html>
